/** Variables **/
:root {
  --color-primary: #FE142F;
  --color-secondary: #FF4E60;
  --color-highlight: #279E7A;

  --font-family-primary: "DM Sans", Arial, Helvetica, sans-serif;
  --font-family-secondary: "Roboto", sans-serif;

  --navbar-height-mobile: 80px;
}

/** Animations **/
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

/** Components **/
.primary-btn {
  background: var(--color-primary);
  color: white;
  border: unset;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
}
.primary-btn:hover {
  background: #3876ac;
}

/** Reset **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Make footer stick at the bottom of web page */
  height: 100%;
}

body {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;

  /* Make footer stick at the bottom of web page */
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}

input {
  font-family: var(--font-family-primary);
}

/** Navbar **/
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 0px;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-navbar {
  display: flex;
  gap: 10px;
}
.navbar-link {
  color: #232323;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.navbar-link:hover, .navbar-link.active {
  background-color: var(--color-primary);
  color: white;
  border-radius: 8px;
}
.navbar-link.active::after {
  content: "";
  display: block;
  position: relative;
  left: -1%;
  height: 1px;
  width: 102%;
  background-color: white;
}
.responsive-navbar-button {
  display: none;
}

/** Hero section **/
main {
  position: relative;
}
.hero-section {
  margin-top: 3%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 8px 0px;
  position: relative;
  background: #232323;
  color: white;
}
.hero-content {
  padding: 53px 0px 70px 56px;
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 73px;
}
.hero-headline {
  font-size: 96px;
  font-weight: 500;
}
.hero-text {
  width: 430px;
  font-size: 24px;
}
.modal-btn {
  text-transform: capitalize;
  font-size: 25px;
  padding: 11px 30px;
}
.hero-img {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}
.hero-img img {
  height: 100%;
}
.hero-section > .modal-btn {
  display: none;
}

/** Modal form **/
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}
.modal.show {
  display: block;
}
.modal-container {
  margin: 5% auto;
  max-width: 540px;
  animation: modalopen 0.8s;
  background: #232323;
  border-radius: 8px;
  position: relative;
  color: white;
  padding: 50px 40px 20px;
}
.close {
  position: absolute;
  right: 26px;
  top: 26px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.close::before,
.close::after {
  position: absolute;
  content: "";
  right: 40%;
  height: 100%;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.modal-body {
  position: relative;
}
#reserve-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-label {
  font-size: 14px;
}
.text-control {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  height: 64px;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 10px;
  color: var(--color-secondary);
  display: block;
  margin-top: 4px;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid var(--color-secondary);
}
.radio-buttons-wrapper {
  padding: 15px 0px 2px;
  display: flex;
  column-gap: 25px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.checkbox-button {
  margin-top: 10px;
}
.radio-control, .checkbox-control {
  display: none;
}
.radio-label, .checkbox-label {
  font-size: 12px;
  font-family: var(--font-family-secondary);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radio-icon {
  width: 24px;
  height: 24px;
  border: 2px solid #C4C4C4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.radio-control:checked + .radio-label .radio-icon {
  border-color: var(--color-highlight);
}
.radio-icon::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--color-highlight);
  border-radius: 50%;
  opacity: 0;
}
.checkbox-icon {
  width: 24px;
  height: 24px;
  background-color: #C4C4C4;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.checkbox-control:checked + .checkbox-label .checkbox-icon {
  background-color: var(--color-highlight);
}
.checkbox-icon::after{
  content: "";
  margin-bottom: 3px;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: white;
  border-left-color: white;
  transform: rotate(-55deg);
  opacity: 0;
}
.radio-control:checked + .radio-label .radio-icon::after,
.checkbox-control:checked + .checkbox-label .checkbox-icon::after {
  opacity: 1;
}
.btn-submit {
  margin: auto;
  width: 180px;
  padding: 12px 0px;
  font-size: 14px;
}

/** Modal Confirmation Screen **/
#confirmation-screen {
  background: #232323;
  padding: inherit;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: -100;
}
#confirmation-screen.show {
  z-index: 100;
}
.confirmation-text-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
.confirmation-btn {
  margin: auto;
  width: 180px;
  padding: 12px 0px;
  font-size: 14px;
}

/** Footer **/
footer {
  padding-bottom: 63px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.copyrights {
  color: var(--color-primary);
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 15px;
}

/** Responsive Rules **/
@media screen and (max-width: 768px) {
  /** Navbar **/
  .topnav {
    height: var(--navbar-height-mobile);
    padding: 0 30px;
    position: relative;
  }
  .header-logo img{
    width: 30vw;
  }
  .main-navbar {
    display: none;
    gap: unset;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    flex-direction: column; 
    background-color: white;
    z-index: 200;
    border-bottom: 1px solid #f4f4f4;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  }
  .topnav.show-hidden-navbar .main-navbar {
    display: flex;
  }
  .navbar-link:hover, .navbar-link.active {
    border-radius: unset;
  }
  .navbar-link.active::after {
    content: unset;
  }
  .responsive-navbar-button {
    display: block;
    color: var(--color-primary);
    font-size: 1.5rem;
    position: relative;
  }
  .topnav.show-hidden-navbar .show-navbar-icon {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  .hide-navbar-icon {
    position: absolute;
    left: 0;
    top: 8%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  .topnav.show-hidden-navbar .show-navbar-icon {
    opacity: 0;
  }
  .topnav.show-hidden-navbar .hide-navbar-icon {
    opacity: 1;
  }

  /** Hero section **/
  .hero-section {
    border-radius: unset;
    background: unset;
    box-shadow: unset;
    color: unset;
    padding: 0px 30px;
    margin: unset;
    padding-top: 3%;
  }
  .hero-content {
    padding: unset;
    gap: 17px;
    z-index: unset;
  }
  .hero-headline {
    font-size: 40px;
  }
  .hero-text {
    width: unset;
    font-size: 13px;
  }
  .hero-content .hero-cta {
    display: none;
  }
  .hero-img {
    position: unset;
    margin-top: 40px;
    width: 100%;
  }
  .hero-img img {
    width: 100%;
    border-radius: 10px;
  }
  .hero-section > .modal-btn {
    display: block;
    font-size: 14px;
    margin: 30px auto 0px;
    padding: 10px 32px;
  }

  /** Modal form **/
  .modal {
    background-color: unset;
    position: absolute;
    overflow: unset;
  }
  .modal-container {
    margin: unset;
  }
  .close {
    width: 20px;
    height: 20px;
  }
  .text-control {
    margin-top: 6px;
    height: 50px;
  }


  /** Footer **/
  footer {
    padding-bottom: 20px;
  }
  .copyrights {
    font-size: 10px;
    text-align: center;
  }
}